[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anal = "*"
pyaudio = "*"
numpy = "*"
pyqtgraph = "*"
pyqt6 = "*"
scipy = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python main.py"
test = "python -m unittest discover tests"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
mypy = "mypy ."
